<div>
    <form class="form-signin">
        
        <h1 class="h3 mb-3 font-weight-normal">Sign in here</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputUser" class="form-control" placeholder="User Name" [(ngModel)]="username" name="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
        <div class="checkbox mb-3">
            <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click)="itemClicked()" type="submit">Sign in</button>
        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p> -->
        <!-- <div id="errormsg" [ngClass]="{'showmessage': error, 'hidemessage': hidemessage}">User credentials do not match</div> -->
        <div [@noticeState]="noticeName" class="alert alert-warning" role="alert">
            not matching </div>
    </form>
</div>