<h2>Users in Group: {{groupId}}</h2>

<ul class="heroes">
    <li *ngFor="let user of users">
        <a routerLink="/userdetail/{{user.username}}">
            {{user.username}}
        </a>
        <button class="delete" title="delete user" (click)="delete(user)">x</button>
    </li>
</ul>

<div>
    <label><h3>Add new user into group</h3></label>
    <br/>
    <label>User name:
      <input #userName />
    </label>
    <br/>
    <label>Email:
        <input #userEmail />
      </label>
    <br/>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(userName.value,userEmail.value); userName.value=''; userEmail.value='' ">
      add
    </button>
</div>